/*Color Paletter*/
/*Fresh: #25BDAD*/
/*Vermillion: #FF4232*/
/*Sunshine: #FFB358*/
/*Clean: #DFDCE2*/
/*Brown: #784B2C*/
/*Fonts*/
/*font-family: 'Modak', cursive;*/
/*font-family: 'Indie Flower', cursive;*/
/*font-family: 'Bree Serif', serif;*/

.header {
  min-height: 300px;
  position: relative;
  /*background-color: #FFB358;*/
  background-image: url("http://previews.123rf.com/images/siraphol/siraphol1312/siraphol131200087/24158928-Abstract-Bicycle-wheel-in-black-and-white-style-Stock-Photo.jpg");
  background-size: cover;
  background-position: center center;
}

.header a {
  display: block;
  width: 220px;
  margin: 30px auto;
}

.header img {
  display: block;
  margin: 0 auto;
  width: 200px;
}

.header h1 {
  text-align: center;
  width: 50%;
  margin: 0 auto 20px auto;
  color: #DFDCE2;
  font-size: 65px;
  font-family: 'Bree Serif', serif;
  font-weight: bold;
  background-color: #25BDAD;
  border-radius: 6px;
  padding: 13px 13px;
}

.second-section {
  min-height: 200px;
  background-color: #25BDAD;
  margin: 0;
  color: #DFDCE2;
  font-family: 'Bree Serif', serif;
  font-size: 46px;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.second-section h3 {
  font-size: 34px;
  padding-left: 45px;
  padding-right: 45px;
}

.image-strip {
  height: 275px;
}
.image-strip ul {
  list-style: none;
  height: 100%;
}

.image-strip li {
  padding: 0;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.image-strip img {
  display: block;
  width: 100%;
  position: relative;
  top: -10px;
}

.contact-container {
  background-color: #25BDAD;
}

.contact {
  width: 50%;
  margin: 0 auto;
  border: 5px solid #FFB358;
  border-radius: 5px;
  background-color: #DFDCE2;
  padding: 40px 20px;
}

.contact p, a {
  text-align: center;
  color: #FF4232;
  font-size: 25px;
}

.contact a:hover {
  color: #FFB358;
}

footer {
  background-color: #25BDAD;
  height: 25px;
  position: relative;
}

footer p {
  color: #fff;
  font-size: 10px;
  position: absolute;;
  bottom: 0;
  right: 21px;
  margin: 0;
}

@media only screen and (min-width: 965px) {
  .image-slider {
    display: none;
  }
}

@media only screen and (max-width: 965px) {

  .header h1 {
    width: 98%;
  }
  .disappear {
    display: none;
  }

  .carousel {
    height: 380px;
  }
  .carousel-inner, .item {
    max-height: 380px;
  }
  .carousel-inner img {
    display: block;
    height: 100%;
  }

  .contact {
    width: 98%;
  }
}
